<h1 mat-dialog-title>Add Product</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="productForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price" required />
      <mat-error *ngIf="productForm.get('price')?.hasError('required')">
        Price is required
      </mat-error>
      <mat-error *ngIf="productForm.get('price')?.hasError('min')">
        Price must be greater than or equal to 0
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Stock</mat-label>
      <input matInput type="number" formControlName="stock" required />
      <mat-error *ngIf="productForm.get('stock')?.hasError('required')">
        Stock is required
      </mat-error>
      <mat-error *ngIf="productForm.get('stock')?.hasError('min')">
        Stock must be greater than or equal to 0
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="productForm.invalid" (click)="onSave()">
    Save
  </button>
</div>






